<html>
    <head>
        <title><%= title %></title>    
    </head>
    <body class="mdui-color-theme-50">
        <header><%- include("../config/header.html") %></header>
        
        
        <!-- main -->
        <div class="mdui-container main  mdui-center below-the-fold">
            <h2>About Us - <%= title %></h2>
            <strong width = "1280" style = "word-wrap: break-word;">This is a process which can crawling ecchi.iwara.tv. And it is used to service for someone that are forbidden to connect to the website. </strong>
            <br/>
            <strong width = "1280" style = "word-wrap: break-word;">If your rights are violated, the complaint email address is: admin@wobbay.xyz</strong>
            <br/>
            <p class="mdui-color-cyan" style="font-size:200%">如果可以的话，请将您转载本软件内容的网站发给我，我想收集一下并交换些友情链接</p>
            <br/>
            <br/>
            简单原理讲解：
            <div class="mdui-color-theme-50">
            <iframe class="mdui-color-theme-50" src="/readme.html" width="100%" height="100%"></iframe>
            </div>
        </div>
        <!-- /main -->
        <footer><%- include("../config/footer.html") %></footer>

        
    </body>
</html>