<html>
    <head>
        <title>Api</title>    
    </head>
    <body class="mdui-color-theme-50">
        <header><%- include("../config/header.html") %></header>
        
        <main>
        
        
        
        </main>
        
        
        <footer><%- include("../config/footer.html") %></footer>

        
    </body>
</html>